<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Review:</strong>
  <%= @movie.review %>
</p>

<p>
  <strong>Price:</strong>
  <%= @movie.price %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @movie.gender.try(:name) %>
</p>

<p>
  <strong>Shelf:</strong>
  <%= @movie.shelf.try(:name) %>
</p>

<p>
  <strong>Rented:</strong>
  <%= @movie.rented? ? 'Yes' : 'No' %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
