<%= form_for(@rent) do |f| %>
  <% if @rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rent.errors.count, "error") %> prohibited this rent from being saved:</h2>

      <ul>
      <% @rent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movies %><br>
    <!-- f.select :movie_ids, Movie.all.collect { |m| [m.title, m.id] }, {}, :multiple => true, :size => 5 -->
    <%= f.collection_check_boxes(:movie_ids, @movies, :id, :title, {}, {:class => 'checkbox_movies'}) { |m| m.check_box + m.label + tag("br") }
    %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :preview_date %><br>
    <%= f.date_field :preview_date %>
  </div>
  <div class="field">
    <%= f.label :tenant %><br>
    <%= f.select :tenant_id, Tenant.all.collect { |t| [t.name, t.id] }, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
