<%= form_for(@rent) do |f| %>
  <% if @rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rent.errors.count, "error") %> prohibited this rent from being saved:</h2>

      <ul>
      <% @rent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :preview_date %><br>
    <%= f.date_select :preview_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :tenant %><br>
    <%= f.select :tenant_id, Tenant.all.collect { |t| [t.name, t.id] }, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :movies %><br>
    <%= f.select :movies, Movie.all.collect { |m| [m.title, m.id] }, {}, :multiple => true, :size => 5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
