<h1>Listing rents</h1>

<table cellspacing="0" border="1">
  <thead>
    <tr>
      <th>Tenant</th>
      <th>Movies</th>
      <th>Price</th>
      <th>Date</th>
      <th>Preview date</th>
      <th>End date</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= rent.tenant.name if not rent.tenant.nil? %></td>
        <td><%= rent.movies.map { |m| m.title }.join(', ') if not rent.movies.nil? %></td>
        <td><%= rent.price %></td>
        <td><%= rent.date.strftime('%d/%m/%Y') unless rent.date.nil? %></td>
        <td><%= rent.preview_date.strftime('%d/%m/%Y') unless rent.preview_date.nil? %></td>
        <td><%= rent.end_date.strftime('%d/%m/%Y') unless rent.end_date.nil? %></td>
        <td><%= link_to 'Show', rent %></td>
        <td><%= link_to 'Edit', edit_rent_path(rent) %></td>
        <td><%= link_to 'Destroy', rent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Deliver', deliver_path(rent), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rent', new_rent_path %>
