<p>
  <strong>Price:</strong>
  <%= @rent.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @rent.date.strftime('%d/%m/%Y') unless @rent.date.nil? %>
</p>

<p>
  <strong>Preview date:</strong>
  <%= @rent.preview_date.strftime('%d/%m/%Y') unless @rent.preview_date.nil? %>
</p>

<p>
  <strong>End date:</strong>
  <%= @rent.end_date.strftime('%d/%m/%Y') unless @rent.end_date.nil? %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @rent.tenant.try(:name) %>
</p>

<p>
  <strong>Movies:</strong>
  <%= @rent.movies.try(:map) { |m| m.title }.join(', ') %>
</p>

<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %>
